################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/MigrateData3to4
/obj
/.vs/MigrateData3to4
/.vs/ProjectEvaluation/migratedata3to4.metadata.v7.bin
/.vs/ProjectEvaluation/migratedata3to4.projects.v7.bin
/.vs/ProjectEvaluation
