################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/MigrateData3to4
/obj
/.vs/MigrateData3to4
